/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2021, 6:52:29 PM
    Author     : fnaufel
*/

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.wrapper_div {
    background-color: lightgray;
    width: 100%;
}

.applet_div {
    width: 95%;
    height: 950px;
    margin: auto;
}

.editor_div {
    width: 95%;
    margin: auto;
    padding: 1em;
    background-color: lightgray;
}
